.Backing_Menu{
    background-color: white;
    padding: 46px 52px;
    border-radius: 1rem;
    h2{
        margin-bottom: 46px;
        font-size: 19px;
    }
    p{
        color: $DarkGray;
        font-size: 13px;
        line-height: 1.9;
    }

}