.Backing_Section{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 47px;
    padding-top: 63px;
    padding-bottom: 45px;
    position: relative;
    border-radius: 1rem;
    text-align: center;
    margin-bottom: 26px;
    @include breakpoint-down(medium){
        padding: 23px;
        padding-top: 63px;
        padding-bottom: 45px;
    }
    
    .logo{
        width: 55px;
        aspect-ratio: 1;
        background-image: url(../../images/logo-mastercraft.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: -27px
    }
    h1{
        margin-bottom: 24px;
        font-size: 21px;
        font-weight: $Bold;
        line-height: 1;
    }
    p{
        line-height: 1;
        color: $DarkGray;
        margin-bottom: 40px;
    }
    .action_bar{
        display: flex;
        width: 100%;
        justify-content: space-between;
        .bookmark{
            height: 55px;
            color: $DarkGray;
            font-weight: $Bold;
            font-size: 15px;
            padding: 20px 40px;
            background-color: #FAFAFA;
            border-radius: 27px;
            border: none;
            position: relative;
            padding-left: 65px;
            transition: all 200ms ease-in-out;
        
            .icon_bookmark{
                position: absolute;
                height: 55px;
                width: 55px;
                background-color: $DarkGray;
                left: 0;
                top: 0;
                border-radius: 50%;
                background-image: url(../../images/icon-bookmark.svg);
                background-position: center;
                background-repeat: no-repeat;
                transition: all 200ms ease-in-out;
            }
            &:hover{
                opacity: 0.8;
                cursor: pointer;
            }

            @include breakpoint-down(medium){
                padding: 0;
                width: 55px;
                overflow: hidden;
            }
        }
        .bookmark.active{
            color: $DarkCyan;
            .icon_bookmark{
                background-color: $DarkCyan;
                background-image: url(../../images/icon-bookmark_copy.svg);

            }
        }
        
    }

}