.Backing_Details{
    background-color: white;
    border-radius: 1rem;
    padding: 46px;
    @include breakpoint-down(medium){
        padding: 23px;
    }
    .infos{
        display: flex;
        margin-bottom: 40px;
        .column{

            width: 33%;
            padding: 0px 40px;
            padding-right: 0;
            &:not(:last-child){
                border-right: solid 1px $DarkGray;
            }
            strong{
                font-size: 29px;
                font-weight: $Bold;
                margin-bottom: 12px;
            }
            p{
                color: $DarkGray;
                font-size: 15px;
                line-height: 1;
            }
        }
        @include breakpoint-down(medium){
            display: flex;
            flex-direction: column;
            width: auto;
            align-items: center;
            text-align: center;
            .column{
                padding: 25px 0px;
                &:not(:last-child){
                    border-right: none;
                    border-bottom: solid 1px $DarkGray;
                }
            }
        }
    }
    .loading_bar_container{
        width: 100%;
        height: 8px;
        border-radius: 4px;
        background-color: #FAFAFA;
        overflow: hidden;
        
        .loading_bar_progress{
            height: 100%;
            width: var(--progress);
            background-color: $ModerateCyan;
            border-radius: 4px;
        }
    }
}