.Header{
    height: 400px;
    padding: $PaddingTopPage $PaddingSidePage;
    background-image: url(../../images/image-hero-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    position: relative;

    @include breakpoint-down(small){
        height: 300px;
        background-image: url(../../images/image-hero-mobile.jpg);
        padding: 32px 23px;
    }
    
    .Logo{
        height: 21px;
        width: 128px;
        background-image: url(../../images/logo.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        z-index: 4;
    }

    .Links{
        display: flex;
        gap: 32px;
        height: fit-content;
        a, a:visited{
            color: white;
            text-decoration: none;
            font-size: .75rem;
            font-weight: $Medium;
        }
        a:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }
    .Links.HideForTablet{
        @include breakpoint-down(medium){
            display: none;
        }
    }

    .HamburgerBtn{
        height: fit-content;
        z-index: 3;
        span{
            display: block;
            width: 16px;
            height: 2px;
            background-color: white;
            transition: all 300ms linear;
            &:not(:last-child){
                margin-bottom: 2.5px;
            }
        }
        &:hover{
            cursor: pointer;
        }
    }
    .HamburgerBtn.Open{
        span{
            &:nth-child(1){
                transform: translateY(4.5px);
                transform-origin: 50% 6px;
                rotate: -45deg;
            }
            &:nth-child(2){
                opacity: 0;
            }
            &:nth-child(3){
                transform: translateY(-4.5px);
                transform-origin: 50% -4px;
                rotate: 45deg;
            }
        }
    }

    .HamburgerMenu{
        position: absolute;
        
        background-color: white;
        left: 24px;
        right: 24px;

        min-width: 325px;
        
        top: 96px;
        display: flex;
        flex-direction: column;

        border-radius: 15px;
        overflow: hidden;

        visibility: hidden;

        z-index: 5;
        a{
            font-size: .9375rem;
            color: black;
            font-weight: $Medium;
            text-decoration: none;
            width: 100%;
            
            padding: 30px 15px;

            &:not(:last-child){
                border-bottom: solid 1px $DarkGray;
            }
        }
    }

    .HamburgerMenu.Open{
        visibility: visible;
    }

    .HamburgerMenu.HideForDesktop{
        @include breakpoint-up(large){
            display: none;
        }
    }
}

.container{
    background-color: #FAFAFA;
    height: 100%;
    min-height: 100vh;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100vh;
    background: linear-gradient(0deg, rgba(255,255,255,0.65) 0%, rgba(0,0,0,0.56) 100%);
    z-index: 2;
    visibility: hidden;
}

.overlay.open{
    visibility: visible;
}