
//Color
$ModerateCyan: hsl(176, 50%, 47%);
$DarkCyan: hsl(176, 72%, 28%);
$Black: hsl(0, 0%, 0%);
$DarkGray: hsl(0, 0%, 48%);

//Spacing

$PaddingSidePage: 11.46vw;
$PaddingTopPage: 48px;
$PaddingBottomPage: 11%;

// Font weight

$Light: 400;
$Medium: 500;
$Bold: 700;